body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: flex-end; /* Ajuste para iniciar da direita */
    flex-direction: row-reverse; /* Ajuste para iniciar da direita */
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin-left: 20px; /* Alterado para margin-left para alinhar à direita */
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #4CAF50;
}

/* Restante do código permanece o mesmo */


.hero {
    background-image: url('hero-background.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.hero h1 {
    font-size: 3em;
    margin: 0;
}

.hero p {
    font-size: 1.2em;
    margin-top: 20px;
}

.features,
.projects,
.gallery,
.contact {
    padding: 80px 0;
}

.features h2,
.projects h2,
.gallery h2,
.contact h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

.features .container,
.projects .container,
.gallery .container,
.contact .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.feature,
.project,
.image {
    width: 30%;
    margin-bottom: 40px;
}

.feature img,
.project img,
.image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.feature h3,
.project h3 {
    color: #333;
    margin-bottom: 10px;
}

.contact form {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}


/* Adicionado novo estilo para o nav esconder quando o mouse está fora */
body.navbar-hidden .navbar {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
}

body.navbar-hidden:hover .navbar {
    opacity: 1;
    pointer-events: auto;
}

/* Restante do código permanece o mesmo */
